body {
background: #00b7ff;
text-align: center;

}


ul {
	text-align: left;
	list-style-type: square;
	list-style-position: inside;
}
#main {
width: 1000px;
height: 1050px;
background: #ba2d2d;
margin: 25px auto;
}

#subhead {
width: 500px;
background: #ba2d2d;
margin: 25px auto;
}
